.single_article {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: medium;
  margin-right: 230px;
}

.single_article .title {
    padding: 35px 40px;
    font-size: 3em;
    color: darkblue;
    line-height: normal;
}

.single_article h1, 
.single_article h2, 
.single_article h3, 
.single_article h4, 
.single_article h5, 
.single_article h6 {
    color: darkblue;
    border-bottom: none;
    margin-top: 1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.single_article h1 { font-size: 2.5em; }
.single_article h2 { font-size: 2.0em; }
.single_article h3 { font-size: 1.75em; }
.single_article h4 { font-size: 1.5em; }
.single_article h5 { font-size: 1.25em; }
.single_article h6 { font-size: 1.1em; }


.single_article p {
  margin-top: 0px;
  font-size: large;
  line-height: normal;
}

.single_article .meta {
  font-size: 1rem;
  color: #666;
  font-weight: lighter;
  padding: 10px 5px;
}

.single_article .content {
  max-width: 100%;
  margin-top: -1em;
}

.single_article .content img {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.single_article pre {
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}

.single_article nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 35px;
  flex-wrap: wrap;
}

.single_article nav a {
  color: darkblue;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.single_article nav a:hover{
    color: red;
}

/* 右侧目录 */
.toc {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 200px;
  max-height: 78vh;
  overflow-y: auto;
  font-size: small;
  padding: 1rem;
  border-left: 3px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  border-top: 1px solid darkblue;
  background: white;
}

/* 标题 */
.toc h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: darkblue;
  border-bottom: 1px solid darkblue;
}

/* 目录缩进 */
.toc ul {
  list-style: none;
  padding-left: 0;
  margin-left: -10;
  margin-top: 0;
}

.toc li {
  margin: 0.3rem 0;
}

.toc ul ul { margin-left: 1rem; }
.toc ul ul ul { margin-left: 1.3rem; }
.toc ul ul ul ul { margin-left: 1.6rem; }

/* 链接 */
.toc a {
  text-decoration: none;
  color: darkblue;
  transition: color 0.2s ease;
}

.toc a:hover {
  color: red;
}

.toc a.active {
  font-weight: bold;
  color: red;
  border-left: 3px solid red;
  padding-left: 5px;
}
