{{ define "head_extra" }}
  <link rel="stylesheet" href="{{ "css/single.css" | relURL }}">
{{ end }}

{{ define "main" }}

<div class="layout">
  <article class="single_article">
    <div class="title">
      {{ .Title }}
      <div class="meta">
        Modified: {{ .Lastmod.Format "2006-01-02" | default "N/A" }}
        {{ with .Params.author }} || Author：{{ . }}{{ end }}
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    <nav class="post-nav">
      {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">Up: {{ .Title }}</a>
      {{ end }}
      {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">Next: {{ .Title }}</a>
      {{ end }}
    </nav>
  </article>
</div>

<aside id="toc-window" class="toc">
  <div class="toc-header" id="toc-header">
    <span class="title open">&gt;&gt; &gt;&gt; &gt;&gt; TOC &lt;&lt; &lt;&lt; &lt;&lt;</span>
    <span class="title closed">&lt;&lt;&lt;&lt;&lt;&lt;TOC&gt;&gt;&gt;&gt;&gt;&gt;</span>
  </div>
  <div class="toc-body" id="toc-body">
    {{ .TableOfContents }}
  </div>
</aside>

<script src="/js/toc-window.js" defer></script>
<script src="/js/scrollspy.js" defer></script>

{{ end }}