{{ define "head_extra" }}
  <link rel="stylesheet" href="{{ "css/single.css" | relURL }}">
{{ end }}

{{ define "main" }}

<div class="layout">
  <article class="single_article">
    <div class="title">
      {{ .Title }}
      <div class="meta">
        M: {{ .Lastmod.Format "2006-01-02" | default "N/A" }}
       - {{ with .Params.author }}{{ . }}{{ end }}
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    <nav class="post-nav">
      {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">Prev: {{ .Title }}</a>
      {{ end }}
      {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">Next: {{ .Title }}</a>
      {{ end }}
    </nav>
  </article>
</div>

{{ partial "toc.html" . }}

<script src="/js/toc-window.js" defer></script>
<script src="/js/scrollspy.js" defer></script>

{{ end }}