{{ define "head_extra" }}
<link rel="stylesheet" href="{{ "css/searchlist.css" | relURL }}">
{{ end }}

{{ define "main" }}
<div class="searchlist-container">
    <div id="searchlist-result"></div>
</div>

{{- $pages := where .Site.RegularPages "Draft" "ne" true -}}
<script id="global-index-data" type="application/json">
{{- $result := slice -}}
{{- range $pages -}}
  {{- $tags := slice -}}
  {{- if reflect.IsSlice .Params.tags -}}
    {{- $tags = .Params.tags -}}
  {{- else if .Params.tags -}}
    {{- $tags = split (string .Params.tags) "," -}}
  {{- end -}}
  {{- $categories := slice -}}
  {{- if reflect.IsSlice .Params.categories -}}
    {{- $categories = .Params.categories -}}
  {{- else if .Params.categories -}}
    {{- $categories = split (string .Params.categories) "," -}}
  {{- end -}}
  
  {{- $permalink := .RelPermalink -}}
  {{- $parentPath := "" -}}
  {{- if $permalink -}}
    {{- $parts := split (trim $permalink "/") "/" -}}
    {{- if gt (len $parts) 1 -}}
      {{- $parentParts := first (sub (len $parts) 1) $parts -}}
      {{- $parentPath = printf "/%s/" (delimit $parentParts "/") -}}
    {{- else -}}
      {{- $parentPath = "/" -}}
    {{- end -}}
  {{- end -}}
  
  {{- $pageData := dict 
    "title" .Title 
    "summary" (or .Params.summary .Summary | plainify) 
    "tags" $tags 
    "categories" $categories 
    "section" .Section 
    "type" .Type 
    "permalink" .RelPermalink
    "parentPath" $parentPath
    "author" .Params.author
    "date" (.Date.Format "2006-01-02")
    "modify" (.Lastmod.Format "2006-01-02")
  -}}
  {{- $result = $result | append $pageData -}}
{{- end -}}
{{ $result | jsonify | safeJS }}
</script>

<script defer src="{{ "js/searchlist.js" | relURL }}"></script>
{{ end }}