.articles_page .articles_list {
    list-style: none;
    padding: 0;
}

.articles_page .articles_list h1 {
  color: darkblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 40px;
}

.articles_page .articles_list h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 1.6em);

}

.articles_page .articles_list a {
    text-decoration: none;
    color: darkblue;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.articles_page .articles_list a:hover {
    color: red;
}

.articles_page .articles_list .time {
    color: #000000;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}

.articles_page .articles_summary {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.articles_page .articles_list .author{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.articles_page .articles_list footer{
    position: sticky;
}