<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="page-kind" content="{{ .Kind }}">
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="{{ "css/style.css" | relURL}}">

	<!-- Prism CSS -->
	<link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-tomorrow.css" rel="stylesheet"/>

	<!-- Prism Core -->
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.js"></script>

	<!-- Prism Languages -->
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-c.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-cpp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-csharp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-bash.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-json.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-lua.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-python.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-rust.min.js"></script>

	<!-- KaTeX -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
		onload="renderMathInElement(document.body);"></script>

	{{ block "head_extra" . }}{{ end }}
</head>

<body>
	<!-- 页眉 -->
	{{ partial "header.html" . }}

	<!-- 副导航 -->
	{{ partial "topnav.html" . }}

	<!-- 主导航 -->
	{{ partial "star-nav.html" . }}

	<script defer src="{{ "/js/star-nav.js" | relURL }}"></script>
	<script defer src="{{ "/js/site.js" | relURL }}"></script>
	<script defer src="{{ "/js/star-active.js" | relURL }}"></script>

	{{ partial "ref.html" . }}
	<script src="{{ "/js/ref-window.js" | relURL }}"></script>

	{{ if eq .Type "home" }}
  	<script defer src="{{ "/js/homealive.js" | relURL }}"></script>
	{{ end }}


	<!-- 主体内容 -->
	{{ block "main" . }}{{ end }}

	{{ partial "mermaid.html" . }}

	<!-- 页脚 -->
	{{ partial "footer.html" . }}

</body>
</html>