{{ define "head_extra" }}
  {{ if eq .Section "articles" }}
  <link rel="stylesheet" href="{{ "css/articles.css" | relURL }}">
  {{ end }}
{{ end }}

{{ define "main" }}
<div class="articles_page">
    <div class="articles_list">
      <h1>{{ .Title }}</h1>
    </div>
</div>

<ul>
    {{ range .Pages }}
    <div class="articles_page">
        <div class="articles_list">
            <h2>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <small>{{ .Date.Format "2006-01-02" }}</small>
            </h2>
        </div>
    </div>
      
    {{ end }}
</ul>
{{ end }}
      