{{ define "head_extra" }}
  {{ if eq .Section "articles" }}
  <link rel="stylesheet" href="{{ "css/articles.css" | relURL }}">
  {{ end }}
{{ end }}

{{ define "main" }}
<div class="articles_page">
    <div class="articles_list">
      <h1>{{ .Title }}</h1>
    </div>
</div>

<ul>
    {{ range .Pages }}
    <div class="articles_page">
        <div class="articles_list">
            <h2>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <br>
                <div class="author">
                    Author: {{ .Params.author | default "N/A"}}
                </div>
                <div class="time">
                    PublishDate: {{ .PublishDate.Format "2006-01-02" | default "N/A" }} |
                    CreateDate: {{ .Date.Format "2006-01-02" | default "N/A" }} |
                    LastModify: {{ .Lastmod.Format "2006-01-02" | default "N/A" }}
                </div>
                
                <div class="articles_summary">{{  .Params.summary }}</div>
            </h2>
        </div>
    </div>
      
    {{ end }}
</ul>
{{ end }}
      