{{ define "head_extra" }}
<link rel="stylesheet" href="{{ "css/lab.css" | relURL }}">
{{ end }}

{{ define "main" }}

<div class="lab-terminal">

  <div class="lab-toolbar">
    <input type="text" id="labSearch" placeholder="title/lang/status/tag/summary/category">
    <span class="count">{{ len .Pages }} items</span>
  </div>

  <div class="lab-table">
    <div class="lab-row lab-head">
      <span class="col name">NAME</span>
      <span class="col status">STATUS</span>
      <span class="col summary">SUMMARY</span>
    </div>

    {{ range .Pages.ByDate.Reverse }}
    <div class="lab-row"
         data-title="{{ .Title | lower }}"
         data-status="{{ .Params.status | lower }}"
         data-summary="{{ .Params.summary | default "" | lower }}"
         onclick="location.href='{{ .RelPermalink }}'">
      
      <span class="col name">
        {{ .Title }}{{ if .Params.toy }}*{{ end }}
      </span>
      <span class="col status {{ .Params.status }}">
        {{ .Params.status }}
      </span>

      <span class="col summary">{{ with .Params.summary }}{{ . }}{{ end }}</span>
    </div>
    {{ end }}

  </div>
</div>

<script src="/js/labfilter.js/"></script>

{{ end }}
