{{ define "head_extra" }}
<link rel="stylesheet" href="{{ "css/lab.css" | relURL }}">
{{ end }}

{{ define "main" }}

<div class="lab-project">

  <div class="lab-header">

    <div class="lab-title">
      <span class="value">{{ .Title }}</span>
    </div>

    <div class="lab-meta">

    <div class="meta-row">
        <span class="meta-key">STATUS</span>
        <span class="meta-value status {{ lower (.Params.status | default "unknown") }}">
        {{ .Params.status | default "UNKNOWN" }}
        </span>
    </div>

    <div class="meta-row">
        <span class="meta-key">DATE</span>
        <span class="meta-value">
        {{ .Date.Format "2006-01-02" }}
        </span>
    </div>

    {{ with .Params.category }}
    <div class="meta-row">
        <span class="meta-key">CATEGORY</span>
        <span class="meta-value">{{ . }}</span>
    </div>
    {{ end }}

    {{ with .Params.summary }}
    <div class="meta-row">
        <span class="meta-key">SUMMARY</span>
        <span class="meta-value">{{ . }}</span>
    </div>
    {{ end }}

    {{ with .Params.repo }}
        <div class="meta-row">
        <span class="meta-key">REPO</span>
        <span class="meta-value">
        <a href="{{ . }}" target="_blank">repolink</a>
        </span>
        </div>
        {{ end }}

        </div>

    </div>

  <div class="lab-divider"></div>

  <div class="lab-content">
    {{ .Content }}
  </div>

</div>

{{ end }}