{{ define "head_extra" }}
<link rel="stylesheet" href="{{ "css/lab.css" | relURL }}">
{{ end }}

{{ define "main" }}

<div class="lab-project">

  <div class="lab-header">

    <div class="lab-title">
      <span class="value">{{ .Title }}</span>
    </div>

    <div class="lab-meta">

    <div class="meta-row">
        <span class="meta-key">status:</span>
        <span class="meta-value">
          <span class="status-badge {{ .Params.status | default "unknown" | urlize }}">
            {{ .Params.status | default "UNKNOWN" }}
          </span>
        </span>
    </div>

    <div class="meta-row">
        <span class="meta-key">crtime:</span>
        <span class="meta-value">
          {{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02" }}{{ else }}N/A{{ end }}
        </span>
    </div>

    {{ if and (not .Lastmod.IsZero) (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
    <div class="meta-row">
        <span class="meta-key">mtime:</span>
        <span class="meta-value">
          {{ .Lastmod.Format "2006-01-02" }}
        </span>
    </div>
    {{ end }}

    {{ with .Params.author }}
    <div class="meta-row">
        <span class="meta-key">author:</span>
        <span class="meta-value">{{ . }}</span>
    </div>
    {{ end }}

    {{ $tags := .Params.tags }}
    {{ if $tags }}
    <div class="meta-row">
      <span class="meta-key">tags:</span>
      <span class="meta-value">
        {{ if reflect.IsSlice $tags }}
          {{ range $index, $tag := $tags }}
            <span class="tag-item {{ $tag | urlize }}">{{ $tag }}</span>{{ if ne $index (sub (len $tags) 1) }}、{{ end }}
          {{ end }}
        {{ else }}
          <span class="tag-item {{ $tags | urlize }}">{{ $tags }}</span>
        {{ end }}
      </span>
    </div>
    {{ end }}

    {{ $categories := .Params.categories }}
    {{ if $categories }}
    <div class="meta-row">
        <span class="meta-key">categories:</span>
        <span class="meta-value">
          {{ if reflect.IsSlice $categories }}
            {{ range $index, $category := $categories }}
              <span class="category-item {{ $category | urlize }}">{{ $category }}</span>{{ if ne $index (sub (len $categories) 1) }}, {{ end }}
            {{ end }}
          {{ else }}
            <span class="category-item {{ $categories | urlize }}">{{ $categories }}</span>
          {{ end }}
        </span>
    </div>
    {{ end }}

    {{ with .Params.summary }}
    <div class="meta-row">
        <span class="meta-key">summary:</span>
        <span class="meta-value">{{ . }}</span>
    </div>
    {{ end }}

    {{ with .Params.repo }}
    <div class="meta-row">
        <span class="meta-value">
          <a href="{{ . }}" target="_blank" rel="noopener noreferrer">url</a>
        </span>
    </div>
    {{ end }}

    </div>

  </div>

  <div class="lab-divider"></div>

  <div class="lab-content">
    {{ .Content }}
  </div>

</div>

{{ end }}