<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/" | relURL }}" class="{{ if eq $current "/" }}active{{ end }}">Nav</a></li>
            <li><a href="{{ "/article/" | relURL }}" class="{{ if eq $current "/article/" }}active{{ end }}">Article</a></li>
            <li><a href="{{ "/blog/" | relURL }}" class="{{ if eq $current "/blog/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/projects/" | relURL }}" class="{{ if eq $current "/projects/" }}active{{ end }}">Projects</a></li>
            <li><a href="{{ "/files/" | relURL}}" class="{{ if eq $current "/files/" }}active{{ end }}">Files</a></li>
            <li><a href="{{ "/resource/" | relURL }}" class="{{ if eq $current "/resource/" }}active{{ end }}">Resource</a></li>
            <li><a href="{{ "/reference/" | relURL }}" class="{{ if eq $current "/reference/" }}active{{ end }}">Reference</a></li>
            <li><a href="{{ "/about/" | relURL }}" class="{{ if eq $current "/about/" }}active{{ end }}">About</a></li>
        </ul>
    </div>
</nav>
