<nav id="star-nav">
    <div id="star-header">
        <span class="title open">&gt;&gt; &gt;&gt; &gt;&gt; Navigation &lt;&lt; &lt;&lt; &lt;&lt;</span>
        <span class="title closed">&lt;&lt;&lt;&lt;&lt;&lt;Nav&gt;&gt;&gt;&gt;&gt;&gt;</span>
    </div>
    <pre class="ascii">
+——————————————————————————————————————————+
|                   <a class="nav-item" data-path="/ctx/" href="{{ "/ctx/" | relURL }}">CTX</a>                    |
|                    |                     |
|                    |     <a class="nav-item" data-path="/dnet/" href="{{ "/dnet/" | relURL }}">.NET</a>            |
|                    |    /                |
|                    |   /                 |
|                    |  /                  |
|         <a class="nav-item" data-path="/pm/" href="{{ "/pm/" | relURL }}">PM</a>         | /                   |
|          \         |/                    |
|  <a class="nav-item" data-path="/gp/" href="{{ "/gp/" | relURL }}">GP</a> ——————\————— <a class="nav-item" data-path="/home/" href="{{ "/home/" | relURL }}">Home</a> ————————————— <a class="nav-item" data-path="/eco/" href="{{ "/eco/" | relURL }}">ECO</a>  |
|            \      /|                     |
|             \    / |                     |
|              \  /  |                     |
|               \/   |  <a class="nav-item" data-path="/lang/" href="{{ "/lang/" | relURL }}">Lang</a>               |
|               /\   |   /                 |
|              /  \  |  /                  |
|            <a class="nav-item" data-path="/os/" href="{{ "/os/" | relURL }}">OS</a>    \ | /                   |
|                   \|/                    |
|                   <a class="nav-item" data-path="/csf/" href="{{ "/csf/" | relURL }}">CSF</a>                    |
+——————————————————————————————————————————+
    </pre>
</nav>
