{{ $sec := .Section }}

{{ if eq $sec "graphic" }}
  {{ partial "topnav/graphic.html" . }}

{{ else if eq $sec "runtime" }}
  {{ partial "topnav/runtime.html" . }}

{{ else if eq $sec "unixlike" }}
  {{ partial "topnav/unixlike.html" . }}

{{ else if eq $sec "leftbrain" }}
  {{ partial "topnav/leftbrain.html" . }}

{{ else if eq $sec "ai" }}
  {{ partial "topnav/ai.html" . }}

{{ else if eq $sec "dotnetandwindows" }}
  {{ partial "topnav/dotnetandwindows.html" . }}

{{ else if eq $sec "miscellaneous" }}
  {{ partial "topnav/miscellaneous.html" . }}

{{ else if eq $sec "project" }}
  {{ partial "topnav/project.html" . }}

{{ else if eq $sec "rightbrain" }}
  {{ partial "topnav/rightbrain.html" . }}

{{ else if eq $sec "home" }}
  {{ partial "topnav/home.html" . }}

{{ else if eq $sec "language" }}
  {{ partial "topnav/language.html" . }}

{{ else }}
  {{ partial "topnav/root.html" . }}
{{ end }}
