{{ $sec := .Section }}

{{ if eq $sec "gp" }}
  {{ partial "topnav/gp.html" . }}

{{ else if eq $sec "eco" }}
  {{ partial "topnav/eco.html" . }}

{{ else if eq $sec "snix" }}
  {{ partial "topnav/snix.html" . }}

{{ else if eq $sec "csapp" }}
  {{ partial "topnav/csapp.html" . }}

{{ else if eq $sec "dnet" }}
  {{ partial "topnav/dnet.html" . }}

{{ else if eq $sec "se" }}
  {{ partial "topnav/se.html" . }}

{{ else if eq $sec "c" }}
  {{ partial "topnav/c.html" . }}

{{ else if eq $sec "home" }}
  {{ partial "topnav/home.html" . }}

{{ else if eq $sec "lang" }}
  {{ partial "topnav/lang.html" . }}

{{ else if eq $sec "net" }}
  {{ partial "topnav/net.html" . }}

{{ else if eq $sec "si" }}
  {{ partial "topnav/si.html" . }}

{{ else if eq $sec "crypto" }}
  {{ partial "topnav/crypto.html" . }}

{{ else if eq $sec "searchlist" }}
  {{ partial "topnav/searchlist.html" . }}

{{ end }}
