<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/ai/" | relURL }}" class="{{ if eq $current "/ai/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/ai/lab/" | relURL }}" class="{{ if eq $current "/ai/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/ai/lib/" | relURL }}" class="{{ if eq $current "/ai/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/ai/file/" | relURL }}" class="{{ if eq $current "/ai/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
