<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/csbasic/" | relURL }}" class="{{ if eq $current "/csbasic/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/csbasic/lab/" | relURL }}" class="{{ if eq $current "/csbasic/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/csbasic/lib/" | relURL }}" class="{{ if eq $current "/csbasic/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/csbasic/file/" | relURL }}" class="{{ if eq $current "/csbasic/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
