<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/dnet/" | relURL }}" class="{{ if eq $current "/dnet/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/dnet/lab/" | relURL }}" class="{{ if eq $current "/dnet/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/dnet/log/" | relURL }}" class="{{ if eq $current "/dnet/log/" }}active{{ end }}">Log</a></li>
            <li><a href="{{ "/dnet/file/" | relURL }}" class="{{ if eq $current "/dnet/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
