<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/dotnetandwindows/" | relURL }}" class="{{ if eq $current "/dotnetandwindows/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/dotnetandwindows/lab/" | relURL }}" class="{{ if eq $current "/dotnetandwindows/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/dotnetandwindows/lib/" | relURL }}" class="{{ if eq $current "/dotnetandwindows/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/dotnetandwindows/file/" | relURL }}" class="{{ if eq $current "/dotnetandwindows/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
