<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/eco/" | relURL }}" class="{{ if eq $current "/eco/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/eco/lab/" | relURL }}" class="{{ if eq $current "/eco/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/eco/log/" | relURL }}" class="{{ if eq $current "/eco/log/" }}active{{ end }}">Log</a></li>
            <li><a href="{{ "/eco/file/" | relURL }}" class="{{ if eq $current "/eco/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
