<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/engine/" | relURL }}" class="{{ if eq $current "/engine/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/engine/lab/" | relURL }}" class="{{ if eq $current "/engine/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/engine/lib/" | relURL }}" class="{{ if eq $current "/engine/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/engine/file/" | relURL }}" class="{{ if eq $current "/engine/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>