<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/framework/" | relURL }}" class="{{ if eq $current "/framework/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/framework/lab/" | relURL }}" class="{{ if eq $current "/framework/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/framework/lib/" | relURL }}" class="{{ if eq $current "/framework/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/framework/file/" | relURL }}" class="{{ if eq $current "/framework/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
