<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/graphic/" | relURL }}" class="{{ if eq $current "/graphic/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/graphic/lab/" | relURL }}" class="{{ if eq $current "/graphic/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/graphic/log/" | relURL }}" class="{{ if eq $current "/graphic/log/" }}active{{ end }}">Log</a></li>
            <li><a href="{{ "/graphic/file/" | relURL }}" class="{{ if eq $current "/graphic/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
