<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/graphic/" | relURL }}" class="{{ if eq $current "/graphic/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/graphic/lab/" | relURL }}" class="{{ if eq $current "/graphic/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/graphic/lib/" | relURL }}" class="{{ if eq $current "/graphic/lib/" }}active{{ end }}">Lib</a></li>
        </ul>
    </div>
</nav>
