<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/language/" | relURL }}" class="{{ if eq $current "/language/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/language/lab/" | relURL }}" class="{{ if eq $current "/language/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/language/lib/" | relURL }}" class="{{ if eq $current "/language/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/language/file/" | relURL }}" class="{{ if eq $current "/language/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>