<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/leftbrain/" | relURL }}" class="{{ if eq $current "/leftbrain/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/leftbrain/lab/" | relURL }}" class="{{ if eq $current "/leftbrain/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/leftbrain/lib/" | relURL }}" class="{{ if eq $current "/leftbrain/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/leftbrain/file/" | relURL }}" class="{{ if eq $current "/leftbrain/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
