<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/miscellaneous/" | relURL }}" class="{{ if eq $current "/miscellaneous/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/miscellaneous/lab/" | relURL }}" class="{{ if eq $current "/miscellaneous/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/miscellaneous/lib/" | relURL }}" class="{{ if eq $current "/miscellaneous/lib/" }}active{{ end }}">Lib</a></li>
            <li><a href="{{ "/miscellaneous/file/" | relURL }}" class="{{ if eq $current "/miscellaneous/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
