<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/net/" | relURL }}" class="{{ if eq $current "/net/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/net/lab/" | relURL }}" class="{{ if eq $current "/net/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/net/log/" | relURL }}" class="{{ if eq $current "/net/log/" }}active{{ end }}">Log</a></li>
            <li><a href="{{ "/net/file/" | relURL }}" class="{{ if eq $current "/net/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
