<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/rightbrain/" | relURL }}" class="{{ if eq $current "/rightbrain/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/rightbrain/lab/" | relURL }}" class="{{ if eq $current "/rightbrain/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/rightbrain/log/" | relURL }}" class="{{ if eq $current "/rightbrain/log/" }}active{{ end }}">Log</a></li>
            <li><a href="{{ "/rightbrain/file/" | relURL }}" class="{{ if eq $current "/rightbrain/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
