<nav class="topnav">
    <div class="container">
        <ul>
            {{ $current := .RelPermalink }}
            <li><a href="{{ "/unixlike/" | relURL }}" class="{{ if eq $current "/unixlike/" }}active{{ end }}">★</a></li>
            <li><a href="{{ "/unixlike/lab/" | relURL }}" class="{{ if eq $current "/unixlike/lab/" }}active{{ end }}">Lab</a></li>
            <li><a href="{{ "/unixlike/log/" | relURL }}" class="{{ if eq $current "/unixlike/log/" }}active{{ end }}">Log</a></li>
            <li><a href="{{ "/unixlike/file/" | relURL }}" class="{{ if eq $current "/unixlike/file/" }}active{{ end }}">File</a></li>
        </ul>
    </div>
</nav>
